.row
	- if user_signed_in?
		.row{:style=>"border: 0px solid #ddd; "}
			-#a preview of the user follows and followers
			.media{:style =>"border: 0px solid #333333; padding:2px 2px 2px 2px;"}
				.media-left
					- if current_user.provider.present?
						= image_tag(current_user.avatar.url, :class=> "img-circle center-block", style: " width:60px; length:60px")
					- else
						= image_tag(current_user.gravatar_url, :class=> "img-circle center-block", style: "")
				.media-body
					%h4= current_user.username
					= "Followers: " + current_user.followed_by.count.to_s
					%br
					= "Following: "+ current_user.following.count.to_s
			%br
			-#for changing geneder preference
			.panel.panel-default
				.panel-heading
					=  "User Preferences"
				%ul.list-group
					%li.list-group-item
						= "Gender preference"
						.pull-right
							%a{"data-target" => ".bs-genderpreference-modal-lg", "data-toggle" => "modal", :href=>"#"}
								%span.fa.fa-pencil-square-o.fa-xs
							.modal.fade.bs-genderpreference-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
								.modal-dialog.modal-lg
									.modal-content
										.modal-body
											= render partial: 'users/preferences/gender'
					%li.list-group-item
						= "Age preference"
						.pull-right
							%a{"data-target" => ".bs-agepreference-modal-lg", "data-toggle" => "modal", :href=>"#"}
								%span.fa.fa-pencil-square-o.fa-xs
							.modal.fade.bs-agepreference-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
								.modal-dialog.modal-lg
									.modal-content
										.modal-body
											= render partial: 'users/preferences/age'
					%li.list-group-item
						= "Your Interests"
						.pull-right
							%a{"data-target" => ".bs-userinterests-modal-lg", "data-toggle" => "modal", :href=>"#"}
								%span.fa.fa-pencil-square-o.fa-xs
							.modal.fade.bs-userinterests-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
								.modal-dialog.modal-lg
									.modal-content
										.modal-body
											= render partial: 'users/preferences/interests'


		-#personalized interests based on what the people you are following are interested (weak link consdisered)
		.row{:style=>"border: 0px solid #ddd; "}
			.panel.panel-default
				.panel-heading
					=  "Suggested Interests"
				
				%ul.list-group
					- @suggestedinterests.each do |interest|
						%li.list-group-item
							= interest.title
							.pull-right
								= render partial: 'interests/follow', :locals => {:interest=> interest}
		.row{:style=>"border: 0px solid #ddd; "}
			.panel.panel-default
				.panel-heading
					=  "Other Interests"
				
				%ul.list-group
					- @otherinterests.each do |interest|
						%li.list-group-item
							= interest.title
							.pull-right
								= render partial: 'interests/follow', :locals => {:interest=> interest}
									