-#.row
	.dropdown{:role => "group",'data-placement'=> 'bottom'}		
		%a.dropdown-toggle.pull-right{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button", :href=>"#"}
			= "Options"
			%span.caret					
		%ul.dropdown-menu.dropdown-menu-right{:role => "menu", :style=>"border-radius: 4px"}
			- @filtering = ["Featured","Join", "New", "Nearby", "Random","Following"]
			- @filtering.each do |option|
				%li
					= link_to option, users_path(:filter=>"#{option}")


-# The mlsit of feature users based on the user preference
#pins
	- @users.each do |user|
		- if user != current_user
			#pinbox
				.panel.panel-default
					.panel-body
						-#obtain the color of the card of the user based on the gender (blue for male and pink for male)
						-if user.gender == "Man"
							- @backgroundColor = "#81BEF7"
						-elsif user.gender == "Woman"
							- @backgroundColor = "#F7819F"
						-else
							- @backgroundColor = "#FAFAFA"

						-#user-card
						
						.row
							- if user.provider.present?
								= image_tag(user.avatar.url, :class=> "img-circle center-block", style: "border:9px solid #{@backgroundColor}; width:100px; length:100px")
							- else
								= image_tag(user.gravatar_url, :class=> "img-circle center-block", style: "border:9px solid #{@backgroundColor};")
								
						.row
							.col-md-10
								%a
									= user.username						
								%br
								= user.age
								%br
								= "Interests:"
								- user.interests.each do |i|
									= i.title								
								%br
								%br
									= render partial: 'follow', :locals => {:user=> user}


	
	
